<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
    <key>UIAppFonts</key>
    <array>
        <string>InriaSerif-Bold.ttf</string>
        <string>InriaSerif-BoldItalic.ttf</string>
        <string>InriaSerif-Italic.ttf</string>
        <string>InriaSerif-Light.ttf</string>
        <string>InriaSerif-LightItalic.ttf</string>
        <string>InriaSerif-Regular.ttf</string>
        <string>InstrumentSerif-Italic.ttf</string>
        <string>InstrumentSerif-Regular.ttf</string>
        <string>Inter-Italic-VariableFont_opsz,wght.ttf</string>
        <string>Inter-VariableFont_opsz,wght.ttf</string>
    </array>
</dict>
</plist>
